html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family-serif);
  line-height: var(--line-height-body);
  color: var(--color-text-body);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: var(--line-height-header);
  color: var(--color-text-header);
}

a {
  color: inherit;
}
